* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #264727;
    color: white;
}


header h1{
    text-align: center;
    background-color: rgb(17, 17, 17);
    font-size: 30px;
    padding: 16px;

}

.carta {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    height: 240px;
    
}